*{
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background-color:black;
}

#wrapper{
  width:80%;
  margin:auto;
}

#BoxContainer{
  background-color:#444;
  border: 4px solid white;
  height:400px;
  width: 400px;
  margin-bottom:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#arrow {
  height:100px;
  width:100px;
	position: relative;
	background: url(images/Arrow-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#listItmes{
  background-color:red;
  color:white;
  display:inline-block;
  float:right;
}

ul{
list-style: none;
margin:0;
padding:0;
}


h1{
  font-size:3em;
  font-weight: 700;
  color: white;
  text-align: center;
  padding:10px;
}
