
#BoxContainer{
  background-color:#444;
  border: 4px solid white;
  height:500px;
  width: 500px;
  margin-bottom:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position:absolute;
}


#spin{
  width:200px;
  height:100px;
  font-weight: bold;
  color: white;
  position:absolute;
  top:200px;
  left:150px;
  border:none;
  background:transparent;
  text-align: center;
}


#spin img{
  width:200px;
  height: 100px;
}


/*.arrow_box::before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #0C0;
	border-width: 30px;
	margin-top: -30px;
}*/

#spin:hover{
 transform:scale(1.1);
}

#spin:active, #spin:focus{
  border:none;
  outline:none;
}

#circle {
  width:500px;
  height: 500px;
  border: 1px solid white;
  border-radius: 50%;
  position:relative;
}


#circle li {
  margin: -12px;
  width:25px;
  height: 25px;
  position:absolute;
  top:50%;
  left:50%;
  display:block;

  background-color:blue;
  text-align: center;
  border-radius: 50%;
  color:white;
  overflow:hidden;
  /*display:flex;
  justify-content: center;
  align-items: center;*/

  /*transform:translate(200px); /*Moves li to outside of circle*/*/
}
/*
#circle li:nth-child(1) {
  transform: translate(200px);
}

#circle li:nth-child(2) {
  transform: rotateZ(45deg) translate(200px);
}

#circle li:nth-child(3) {
  transform: rotateZ(90deg) translate(200px);
}

#circle li:nth-child(4) {
  transform: rotateZ(135deg) translate(200px);
}


#circle li:nth-child(5) {
  transform: rotateZ(180deg) translate(200px);
}

#circle li:nth-child(6) {
  transform: rotateZ(225deg) translate(200px);
}

#circle li:nth-child(7) {
  transform: rotateZ(270deg) translate(200px);
}

#circle li:nth-child(8) {
  transform: rotateZ(315deg) translate(200px);
}
*/


/*
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(14em); } /* 12em = half the width of the wrapper */*/
/*.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }*/
