
#BoxContainer{
  background-color:#444;
  border: 4px solid white;
  height:400px;
  width: 400px;
  margin-bottom:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position:absolute;
}


#spin{
  width:150px;
  height:30px;
  background-color:#0C0;
  font-weight: bold;
  color: white;
  position:absolute;
  top:180px;
  left:125px;
  border:none;
}


.arrow_box::before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #0C0;
	border-width: 30px;
	margin-top: -30px;
}

#spin:hover{
 transform:scale(1.1);
}

#circle {
  width:400px;
  height: 400px;
  border: 1px solid white;
  border-radius: 50%;
  position:relative;
}


#circle li {
  margin: -12px;
  width:25px;
  height: 25px;
  position:absolute;
  top:50%;
  left:50%;
  display:block;

  background-color:blue;
  text-align: center;
  border-radius: 50%;
  color:white;
  overflow:hidden;

  /*display:flex;
  justify-content: center;
  align-items: center;*/
}

#circle li:nth-child(1) {
  transform: translate(200px); /* 12em = half the width of the wrapper */

}

#circle li:nth-child(2) {
  transform: rotateZ(45deg) translate(200px); /*second rotate is for square x rotation*/
}

#circle li:nth-child(3) {
  transform: rotateZ(90deg) translate(200px); /*second rotate is for square x rotation*/
}

#circle li:nth-child(4) {
  transform: rotateZ(135deg) translate(200px); /*second rotate is for square x rotation*/
}


#circle li:nth-child(5) {
  transform: rotateZ(180deg) translate(200px); /*second rotate is for square x rotation*/
}

#circle li:nth-child(6) {
  transform: rotateZ(225deg) translate(200px); /*second rotate is for square x rotation*/
}

#circle li:nth-child(7) {
  transform: rotateZ(270deg) translate(200px); /*second rotate is for square x rotation*/
}

#circle li:nth-child(8) {
  transform: rotateZ(315deg) translate(200px); /*second rotate is for square x rotation*/
}



From Website and circling with li elements
/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351
 */
.circle-container {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: dashed 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(14em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

/* this is just for showing the angle on hover */
.circle-container a:not(.center):before {
	position: absolute;
	width: 4em;
	color: white;
	opacity: 0;
	background: rgba(0,0,0,.5);
	font: 1.25em/3.45 Courier, monospace;
	letter-spacing: 2px;
	text-decoration: none;
	text-indent: -2em;
	text-shadow: 0 0 .1em deeppink;
	transition: .7s; /* only works in Firefox */
	content: attr(class)'°';
}
.circle-container a:hover:before { opacity: 1; }

/* this is for showing the circle on which the images are placed */
.circle-container:after {
	position: absolute;
	top: 2.8em; left: 2.8em;
	width: 24em; height: 24em;
	border: dashed 1px deeppink;
	border-radius: 50%;
	opacity: .3;
	pointer-events: none;
	content: '';
}
.circle-container:hover:after { opacity: 1; }
.circle-container a:not(.center):after {
	position: absolute;
	top: 50%; left: 50%;
	width: 4px; height: 4px;
	border-radius: 50%;
	box-shadow: 0 0 .5em .5em white;
	margin: -2px;
	background: deeppink;
	opacity: .3;
	content: '';
}
.circle-container:hover a:after { opacity: 1; }
.circle-container a:hover:after { opacity: .3; }
