*{
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background-color:#ECEFF1;
}

ul{
margin:0;
padding:0;
list-style: none;
}

h1{
  margin:0;
  font-size:3em;
  font-weight: 500;
  color:white;
  text-align: center;
  background-color:#03A9F4;
  padding:40px;
  margin-bottom:20px;
  border-bottom: 2px solid #01579B;
}

#wrapper{
  width:80%;
  margin:auto;
}

.box1{
  float:left;
  width:40%;
}

.box2{
  float:right;
  width:40%;
}


#listItmes{
  background-color:#ECEFF1;
  border: 2px solid #01579B;
  color:white;
  padding:15px 15px;
}

#listTitle{
  color:#263238;
}

.addLabel{
  color:#263238;
  display:block;
  padding-bottom:2px;
}

.labelBox{
  float:left;
  width:75%;
}

#listItmes button {
  width:20%;
  float:right;
  background-color:#0C0;
  color:white;
  font-weight: bold;
}

.listTitle{
  padding-top:10px;
  color:#263238;
}


#restList {
color:blue;
display:flex;
flex-direction: column;
}

ol{
  list-style: none;
}

#restList li {
  margin-bottom:5px;
  background-color:#607D8B;
  color:white;
  font-weight: bold;
  padding:2px;
  padding-left:8px;
}

#restList li button {
  background-color:#37474F

;
  color:white;
}
